<% provide :title, t(".home") %>
<div class="center">
  <div class="banner">
    <h2><%= t ".content" %></h2>
    <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
